<md-dialog aria-label="Autocomplete Dialog Example" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Novo Profissional</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="images/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <div class="md-dialog-content">

      	<div class="container">
			<form name="myForm">
				<div layout="row" flex>
					<div flex="50">
			      		<div style="width: 150px; margin: 30px auto;">
			      			<a href="" ngf-select ng-model="picFile" accept="image/*">
			      				<img ng-if="!picFile" class="circle-img" ng-src="{{croppedDataUrlAux}}">
			      				<img ng-if="croppedDataUrl && picFile" class="circle-img" ng-src="{{croppedDataUrl}}">
			      			</a>
			      		</div>
			      	</div>
			      	<div flex="50">
			      		<div ng-show="picFile" ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
					        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
					    </div>

					    <div ng-if="picFile" class="buttom-save-image">
					    	<div layout="row" flex>
					    		<div flex="50">
									<button class="btn btn-default btn-block" ng-click="clearImage()">cancelar</button>
					    		</div>
					    		<div flex="50">
									<button class="btn btn-primary btn-block" ng-click="upload(croppedDataUrl, picFile.name)">Salvar imagem</button>
					    		</div>
					    	</div>

					    	<span class="progress" ng-if="progress >= 0">
					        <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
					        </span>
					        <span ng-show="result">Upload Successful</span>
					        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
			    		</div>
					</div>
				</div>
			    

			    
		 	</form>
      		
	      	<md-input-container class="md-block">
		        <label>Email</label>
		        <md-icon md-svg-src="images/ic_email_24px.svg"></md-icon>
		        <input type="email" required ng-model="professional.email">
		        <div ng-messages="projectForm.clientName.$error">
		            <div ng-message="required">Campo obrigatório.</div>
		        </div>
		    </md-input-container>

		    <md-input-container class="md-block">
		        <label>Nome</label>
		        <md-icon md-svg-src="images/ic_person_24px.svg"></md-icon>
		        <input type="text" required ng-model="professional.user.name">
		        <div ng-messages="projectForm.clientName.$error">
		            <div ng-message="required">Campo obrigatório.</div>
		        </div>
		    </md-input-container>

		    <div layout="row" flex ng-cloak>
            	<div flex="50">
				    <md-input-container class="md-block">
				        <label>Celular</label>
				        <md-icon md-svg-src="images/ic_phone_24px.svg"></md-icon>
				        <input type="text" required ng-model="professional.user.phone" ui-br-phone-number>
				        <div ng-messages="projectForm.clientName.$error">
				            <div ng-message="required">Campo obrigatório.</div>
				        </div>
				    </md-input-container>
				</div>
				<div flex="50">
				    <md-input-container class="md-block" flex-gt-sm>
			            <label>Sexo</label>
			            <md-icon md-svg-src="images/ic_sex.svg"></md-icon>
			            <md-select ng-model="professional.sex">
			              <md-option ng-repeat="sex in sexies" value="{{sex}}">
			                {{sex}}
			              </md-option>
			            </md-select>
			        </md-input-container>
			    </div>
			</div>

	        <md-input-container class="md-block" flex-gt-sm>
                <label>Profissão</label>
                <md-icon md-svg-src="images/ic_profession_24px.svg"></md-icon>
                <md-select ng-model="professional.profession">
                  <md-option ng-repeat="profession in professions" value="{{profession}}">
                    {{profession.name}}
                  </md-option>
                </md-select>
            </md-input-container>

            <div layout="row" flex ng-cloak>
            <div flex="50">
    	        <md-input-container class="md-block">
    		        <label>Divisão (hh:mm)</label>
                <md-icon md-svg-src="images/ic_split_24px.svg" class="name"></md-icon>
    		        <input type="text" required ng-model="professional.split" ui-time-mask="short">
    		        <div ng-messages="projectForm.clientName.$error">
    		          	<div ng-message="required">Campo obrigatório.</div>
    		        </div>
    	      	</md-input-container>
            </div> 
            <div flex="50"> 
               <md-input-container class="md-block">
    		        <label>Intervalo (hh:mm)</label>
                <md-icon md-svg-src="images/ic_interval_24px.svg" class="name"></md-icon>
    		        <input type="text" required ng-model="professional.interval" ui-time-mask="short">
    		        <div ng-messages="projectForm.clientName.$error">
    		          	<div ng-message="required">Campo obrigatório.</div>
    		        </div>
    	      	</md-input-container>
            </div>  
          </div>
    	</div>
    </div>
  </md-dialog-content>
  <md-dialog-actions>
    <md-button aria-label="Finished" ng-click="">Salvar</md-button>
  </md-dialog-actions>
</md-dialog>


