 <div layout="column" class="container-login">

 	<div class="container-logo-login">
 		<img src="images/yeoman.png">
 	</div>

	<md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" ng-model="user.email">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">Campo obrigatório.</div>
        </div>
    </md-input-container>

    <md-input-container class="md-block">
        <label>Senha</label>
        <input required type="password" ng-model="user.password">
        <div ng-messages="projectForm.clientName.$error">
          <div ng-message="required">Campo obrigatório.</div>
        </div>
    </md-input-container>

	<button class="btn btn-default btn-block" style="margin-bottom: 40px;" ng-click="login()">Entrar</button>

	<div class="text-center">
    	<a href=""><small>Esqueci minha senha</small></a>
    </div>

    <div class="text-center">
        <a href="" ng-click="newProperty()"><small>Cadastrar</small></a>
    </div>
    
 </div>
 
