<div class="container-fluid">
	<div class="page-header" style="margin-top: 70px;">
	  <h1>Colaborador <small>{{professional.user.name}}</small></h1>
	</div>
</div>
<div class="container-fluid" style="margin-top: 40px;">

  <div class="" style="margin: auto; max-width: 100%;">
    <div layout="row" flex ng-cloak>
      <div flex="50">
        <md-input-container class="md-block">
          <label>Email</label>
          <md-icon md-svg-src="images/ic_email_24px.svg" class="email"></md-icon>
          <input type="text" name="price" ng-model="professional.email">
        </md-input-container>
      </div>
      <div flex="50">
        <md-input-container class="md-block">
          <label>Telefone</label>
          <md-icon md-svg-src="images/ic_phone_24px.svg"></md-icon>
          <input type="text" required name="oldPrice" ng-model="professional.user.phone" ui-br-phone-number>
          <div ng-messages="projectForm.clientName.$error">
              <div ng-message="required">Campo obrigatório.</div>
          </div>
        </md-input-container>
      </div>
    </div>

    <div layout="row" flex ng-cloak>
      <div flex="50">
        <md-input-container class="md-block">
	        <label>Nome</label>
          <md-icon md-svg-src="images/ic_person_24px.svg" class="name"></md-icon>
	        <input type="text" required name="description" ng-model="professional.user.name">
	        <div ng-messages="projectForm.clientName.$error">
	          	<div ng-message="required">Campo obrigatório.</div>
	        </div>
      	</md-input-container>
      </div> 
      <div flex="50"> 
         <md-input-container class="md-block" flex-gt-sm>
          <label>Profissão</label>
          <md-icon md-svg-src="images/ic_profession_24px.svg"></md-icon>
          <md-select ng-model="professional.profession.name">
            <md-option ng-repeat="profession in professions" value="{{profession.name}}">
              {{profession.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>  
    </div>

    <div layout="row" flex ng-cloak>
      <div flex="50">
        <md-input-container class="md-block">
	        <label>Divisão</label>
          <md-icon md-svg-src="images/ic_split_24px.svg" class="name"></md-icon>
	        <input type="text" required name="split" ng-model="professional.split">
	        <div ng-messages="projectForm.clientName.$error">
	          	<div ng-message="required">Campo obrigatório.</div>
	        </div>
      	</md-input-container>
      </div> 
      <div flex="50"> 
         <md-input-container class="md-block">
	        <label>Intervalo</label>
          <md-icon md-svg-src="images/ic_interval_24px.svg" class="name"></md-icon>
	        <input type="text" required name="interval" ng-model="professional.interval">
	        <div ng-messages="projectForm.clientName.$error">
	          	<div ng-message="required">Campo obrigatório.</div>
	        </div>
      	</md-input-container>
      </div>  
    </div>
	</div>


  <div class="container-fluid" style="max-width: 100%; margin-bottom: 50px;">
  <h5 class="text-center">A atualização dos dados do profissional e o gerencimaneto dos serviços são feitos exclusivamente através do aplicativo mobile salão 7 profissional</h5>
  <!-- <button class="btn btn-primary btn-block" 
    style="width: 150px; float: right;" ng-click="updateProfessional()">Atualizar</button> -->
  </div>
   
  <div class="container-fluid"  style="margin: auto; max-width: 100%;">
      <div>
        <md-toolbar class="md-table-toolbar md-default">
        	<div layout="row" flex>
        		<div flex="50">
        			<div class="md-toolbar-tools">
	              <span>Serviços</span>
	            </div>
        		</div>
        		<div flex="50">
        			<div class="float-right">
    					  	<a ng-if="!haveForDelete()" href="" ng-click="createService($event)">
    					  		<ng-md-icon class="icons-services" icon="add_circle_outline" style="fill: pink" size="40"></ng-md-icon>
    					  		<md-tooltip md-direction="top">
    				          		Novo serviço
    				        	</md-tooltip>
    					  	</a>
    					  	<a ng-if="haveForDelete()" href="" ng-click="deleteServices()">
    					  		<ng-md-icon class="icons-services" icon="delete" style="fill: pink" size="40"></ng-md-icon>
    					  		<md-tooltip md-direction="top">
    				          		Excluir selecionados
    				        	</md-tooltip>
    					  	</a>
    					</div>
        		</div>
        	</div>
          
        </md-toolbar>

        <!-- exact table from live demo -->
        <md-table-container>
          <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
            <thead md-head md-order="query.order" md-on-reorder="getDesserts">
              <tr md-row>
                <th md-column md-order-by="nameToLower">Serviços</span></th>
                <th md-column md-numeric md-order-by="oldPrice">Duração média (h)</th>
                <th md-column md-numeric></th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="item" md-select-id="name"  ng-repeat="item in services">
                <td md-cell>{{item.service.name}}</td>
                <td md-cell>{{item.duration}}</td>
                <td md-cell ng-click="editService(item.id, $event)">
                  <a href="">
                  <ng-md-icon icon="mode_edit" style="fill: pink" size="30"></ng-md-icon>
                  <md-tooltip md-direction="top">
                        Editar
                    </md-tooltip>
                </a>
              </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>
      </div>
  </div>

</div>
